#image{
    text-align: center;
    background-image: url(./assets/backgrounds/landing.jpg);
    background-position: center;
    align-content: center;
    margin: auto;
    padding: auto;

}

.foods{
    text-align: center;
    border: 2px solid white;
    height: 200px;
    /*width: 100px; */
    display: flex;
    flex-direction: row;
    text-align: center;
}
.foods div{
    border: 2px solid white;
    width: 50%;
    height: 100%;
}
#combine{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline;

}
#happy{
    background-color: lightgrey;
    height: 50%;
    width: 100%;
}
#party{
    background-color: #F15A29;
    height: 50%;
    width: 100%;
    color: white;
}
#breakfast{
    background-image: url(./assets/foodtop/breakfast.jpg);
    color: white;

}
#Lunch{
    background-image: url(./assets/foodtop/lunch.jpg);
    color: white;
}
#dinner{
    background-image: url(./assets/foodtop/dinner.jpg);
    color: white;
    align-items: center;
}
.taste{
    display: inline-flex;
    
    
} 
.meals{
    display: block;
    padding: 0;
    width: 0;
   
} 
.clear{
    clear: right;
}
.drinks{
    float: right;
}
.drink{
    clear: left;
}
.major{
    background-image: url(./assets/backgrounds/foodsBg.jpg);
}