#image{
    text-align: center;
    background-image: url(./assets/backgrounds/landing.jpg);
    background-position: center;
    align-content: center;
    margin: auto;
    padding: auto;

}

span.party{
    display: block;
    width: 150px;
    height: 50px;
    padding: 5px;
    border: 1px solid #F15A29 ;    
    background-color: #F15A29; 
    color: white;
    clear: right;
}
span.happy{
    display: block;
    width: 150px;
    height: 50px;
    padding: 5px;
    border: 1px solid grey;    
    background-color: grey); 
    color: black;
    opacity: 0.8;
    
  
}

.taste{
    display: inline-flex;
    
    
} 
.meals{
    display: block;
    padding: 0;
    width: 0;
   
} 
.clear{
    clear: right;
}
.drinks{
    float: right;
}
.drink{
    clear: left;
}
