{
    background-color: #F15A29;
}
#image{
    background-image: url(./assets/others/landing.jpg);
    margin: 50px;
    padding: 70px;
    background-repeat: no-repeat;
    background-position: top;
    float: center;
}
.taste > h3 {
    border-style: solid;
    width: 110px;
    height: 30px;
    margin: 30;
    padding: 30;
    align-items: center;
}

.Fastfood {
    float: left;
    
}
.flavour{
    display: flex;
    align-items: baseline;

    
}
#ground{
    background-image: url(./assets/backgrounds/subscribe.jpg);
}